* {
  padding: 0;
  margin: 0;
}
.body {
  width: 100%;
  height: 100vh;
  background-color: white;
}
.mainhero {
  width: 100%;
  height: 90vh;
  /* background-color: rgb(64, 62, 60); */
  display: flex;
  justify-content: space-between;
}
.lefthero {
  width: 45%;
  height: 100vh;
  /* line-height: 25px; */
  /* background-color: rgb(123, 29, 111); */
  /* margin-top: 50px;  */
}
.lefthero img {
  width: 100%;
  height: 100vh;
}
.righthero {
  width: 45%;
  height: 90vh;
  line-height: 25px;
  /* background-color: rgb(123, 29, 111); */
  margin-top: 30px;
}
.righthero h1 {
  text-align: center;
  color: #003c46;
  font-family: sans-serif;
  font-size: 30px;
  font-weight: 900;
  margin-right: 80px;
}
.boxes {
  width: 90%;
  height: 500px;
  /* background-color: blueviolet; */
  /* justify-content: center;
    align-items: center; */
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  margin-top: 20px;
}
.box h4 {
  font-size: 15px;
  font-weight: 600;
  color: #003c46;
  font-family: sans-serif;
  line-height: 40px;
}
.box input {
  width: 80%;
  border-radius: 20px;
  border: 1px solid #003c46;
  padding: 20px;
}
.box::placeholder {
  padding: 10px;
}
.me {
  background-color: #003c46;
  width: 87%;
  height: 50px;
  border-radius: 50px;
  border: none;
  margin-top: 30px;
  color: white;
   font-size: 20px;
  font-weight: 500;
}
.sign {
  /* justify-content: center;
  align-items: center;
  display: flex; */
  /* margin-bottom: 10px; */
  font-size: 20px;
  font-weight: 500;
  color: #003c46;
  font-family: sans-serif;
  margin-left: 90px;
  /* text-align: center; */
  margin-top: 10px;

}
.sign a{
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  color: #003c46;
}
@media (max-width: 425px) {
  .mainhero {
    width: 100%;
    height: 100vh;
  }
  .lefthero {
    display: none;
  }
  .righthero {
    width: 100%;
    height: 100vh;
  }
  .righthero h1 {
    margin-right: 0px;
  }
  .boxes {
    margin-top: 10px;
  }
  .me {
    margin-left: 10px;
  }
  .sign {
    margin-left: 35px;
  }
}
