* {
  padding: 0;
  margin: 0;
}
.body {
  width: 100%;
  height: 100vh;
  background-color: white;
}
h1{
    text-align: center;
}
table {
  width: 60%;
  border-collapse: collapse;
  margin: 20px auto;
}
th,
td {
  border: 1px solid #999;
  padding:20px;
  text-align: left;
}
th {
  background-color: #f2f2f2;
}
tr:hover {
  background-color: #e6f7ff; 
  cursor: pointer;
}
